---
import 'svelte-highlight/styles/rebecca.css';
import { getAllPosts } from '../../prismic';
import Layout from '../../layouts/main.astro';
import SliceZone from '../../components/SliceZone.astro';
import SocialShareDesktop from '../../components/SocialShareDesktop.astro';
import SocialShareMobile from '../../components/SocialShareMobile.astro';
import formatDistance from 'date-fns/formatDistance/index.js';

export async function getStaticPaths() {
  const posts = await getAllPosts();
  // console.log(posts.map((post) => post.data.slices));
  return posts.map((post) => ({ params: { slug: post.uid }, props: { post } }));
}

const { post } = Astro.props;
const { href } = Astro.url;

console.log(post);
---

<Layout
  title={post.data.title}
  summary={post.data.summary[0].text}
  tags={post.tags}
  thumbnail={post?.data?.thumbnail?.url}
>
  <div class="flex flex-row justify-center">
    <article class="w-[95%] lg:w-[80ch]">
      <h1 class="text-4xl font-bold">{post.data.title}</h1>
      <time datetime={post.first_publication_date} class="text-sm text-gray-400"
        >{
          formatDistance(new Date(post.first_publication_date), Date.now(), {
            addSuffix: true,
          })
        }
      </time>

      <span>&#8226; {post.data.category.slug}</span>

      <img
        src={post.data.thumbnail.url}
        alt={post.data.thumbnail.alt}
        class="my-6 aspect-video object-cover"
      />
      <SocialShareMobile postURL={href} />
      <SliceZone slices={post.data.slices} />
      <SocialShareMobile postURL={href} />
    </article>
  </div>

  <SocialShareDesktop postURL={href} />
</Layout>
