---
import { getAllPosts } from "../../prismic";
import Layout from "../../layouts/main.astro";
import SliceZone from "../../components/SliceZone.astro";

export async function getStaticPaths() {
  const posts = await getAllPosts();
  // console.log(posts.map((post) => post.data.slices));
  return posts.map((post) => ({ params: { slug: post.uid }, props: { post } }));
}

const { post } = Astro.props;
---

<Layout
  title={post.data.title}
  summary={post.data.summary[0].text}
  tags={post.tags}
>
  <div class="flex flex-row justify-center">
    <article class="w-[95%] lg:w-[80ch]">
      <h1 class="text-4xl font-bold">{post.data.title}</h1>
      <img
        src={post.data.thumbnail.url}
        alt={post.data.thumbnail.alt}
        class="my-6 aspect-video object-cover"
      />
      <SliceZone slices={post.data.slices} />
    </article>
  </div>
</Layout>
